
.parrotD{padding:40px 0 80px 0; background:#000 url('../images/purplebckground.png') 50% 0 repeat;}
.wallRob{padding:0px 0 80px 0; background:#529f04 url('../images/greenbckground.png') 50% 50% repeat;}
.sapBasis{padding:0px 0 80px 0; background:#529f04 url('../images/darkbluebckground.png') 50% 50% repeat;}

h1{	
	padding:0 0 40px 0;
	font-family: Arial, sans-serif; font-weight:normal;
	color:#fff;
	margin:0 0 15px 0;
	font-size:80px;
	line-height:80px;
	text-transform:uppercase;
	text-align:center;
	text-shadow: 0px 2px 0px rgba(255,255,255,0.62)
	}
h2{	
	padding:80px 0 40px 0;
	font-family: Arial, sans-serif; font-weight:normal;
	color:#fff;
	margin:0 0 15px 0;
	font-size:40px;
	line-height:40px;
	text-transform:uppercase;
	text-align:center;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.62)
	}
	
.captionP
        {
	display: block;
	color: #000;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
	width: 100%
	}
.captionP
	{
	background: #FFF;
	//background-color: rgba(235, 81, 0, 0.6);

	}

.captionP a{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	font-weight:bold;
	}	

.captioncont{
	display: inline-block;
	vertical-align: middle;
	line-height: normal; 
	}

.hiddencap { 
	  visibility:hidden;
	  opacity:0;
	  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
	}
.parentpho:hover .hiddencap { 
	visibility:visible;
	opacity:0.8;
	transition-delay:0s;
	}
		
.jssora13l, .jssora13r {
		display: block;
		position: absolute;
		/* size of arrow element */
		width: 40px;
		height: 50px;
		cursor: pointer;
		background: url(../img/a13.png) no-repeat;
		overflow: hidden;
	}
.jssora13l { background-position: -10px -35px; }
.jssora13r { background-position: -70px -35px; }
.jssora13l:hover { background-position: -130px -35px; }
.jssora13r:hover { background-position: -190px -35px; }
.jssora13l.jssora13ldn { background-position: -250px -35px; }
.jssora13r.jssora13rdn { background-position: -310px -35px; }
	
	

	
	
	




.popupcontent{
	min-height:20px;
	height:425px;
	width:450px;
	padding:19px;
	margin-bottom:20px;
	background-color:#f5f5f5;
	border:1px solid #e3e3e3;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
	overflow:auto;
	}
	
.popupcontent p{
	margin:0 0 20px 0;
	color:#5C5C5C;
	font-size:13px;
	line-height:16px;
 }
.popupcontent li{
	margin:0 0 3px 0;
	color:#5C5C5C;
	font-size:13px;
	line-height:16px;
	list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
 }
.popupcontent ul{
	list-style-position: inside;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

a.boxclose{
    float:right;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;       
}

	
	

	
    





	
	
