.topbox{padding:40px 0 80px 0; background:#000 url('../img/topbox1.jpg') 50% 0 repeat;}
.parrotD{padding:40px 0 80px 0; background:#000 url('../images/purplebckground.png') 50% 0 repeat;}

h1{	
	padding:0 0 40px 0;
	font-family: Arial, sans-serif; font-weight:normal;
	color:#fff;
	margin:0 0 15px 0;
	font-size:80px;
	line-height:80px;
	text-transform:uppercase;
	text-align:center;
	text-shadow: 0px 2px 0px rgba(255,255,255,0.62)
	}
h2{	
	padding:80px 0 40px 0;
	font-family: Arial, sans-serif; font-weight:normal;
	color:#fff;
	margin:0 0 15px 0;
	font-size:40px;
	line-height:40px;
	text-transform:uppercase;
	text-align:center;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.62)
	}
	
.captionP
        {
	display: block;
	color: #000;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
	width: 100%
	}
.captionP
	{
	background: #FFF;
	//background-color: rgba(235, 81, 0, 0.6);

	}

.captionP a{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	font-weight:bold;
	}	

.captioncont{
	display: inline-block;
	vertical-align: middle;
	line-height: normal; 
	}

.hiddencap { 
	  visibility:hidden;
	  opacity:0;
	  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
	}
.parentpho:hover .hiddencap { 
	visibility:visible;
	opacity:0.8;
	transition-delay:0s;
	}
		
.jssora13l, .jssora13r {
		display: block;
		position: absolute;
		/* size of arrow element */
		width: 40px;
		height: 50px;
		cursor: pointer;
		background: url(../img/a13.png) no-repeat;
		overflow: hidden;
	}
.jssora13l { background-position: -10px -35px; }
.jssora13r { background-position: -70px -35px; }
.jssora13l:hover { background-position: -130px -35px; }
.jssora13r:hover { background-position: -190px -35px; }
.jssora13l.jssora13ldn { background-position: -250px -35px; }
.jssora13r.jssora13rdn { background-position: -310px -35px; }
	
	
.desc{
	width:40%;
	margin:0 auto;
	padding:40px 30px;
	50% 0 repeat;
	font-style:italic;
	text-align:center;
	color:#FFF;
	font-size:24px;
}
	
	
	
body {
	font-family: Arial, sans-serif;
	background: url(4.jpg);
	background-size: cover;
}



.popupcontent{
	min-height:20px;
	height:425px;
	width:450px;
	padding:19px;
	margin-bottom:20px;
	background-color:#f5f5f5;
	border:1px solid #e3e3e3;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
	overflow:auto;
	}
	
.popupcontent p{
	margin:0 0 20px 0;
	color:#5C5C5C;
	font-size:13px;
	line-height:16px;
 }
.popupcontent li{
	margin:0 0 3px 0;
	color:#5C5C5C;
	font-size:13px;
	line-height:16px;
	list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
 }
.popupcontent ul{
	list-style-position: inside;
}

a.boxclose{
    float:right;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;       
}

	
	
.buttonOC
    {        
	display: inline-block;
	white-space: nowrap;
	background-color: #ddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	background-image: -ms-linear-gradient(top, #eee, #ccc);
	background-image: -o-linear-gradient(top, #eee, #ccc);
	background-image: linear-gradient(top, #eee, #ccc);
	border: 1px solid #777;
	padding: 0 1.5em;
	margin: 0.5em;
	font: bold 1em/2em Arial, Helvetica;
	text-decoration: none;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: .2em;
	-moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    }
	
.buttonOC:hover
    {
	background-color: #eee;        
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
	background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
	background-image: -moz-linear-gradient(top, #fafafa, #ddd);
	background-image: -ms-linear-gradient(top, #fafafa, #ddd);
	background-image: -o-linear-gradient(top, #fafafa, #ddd);
	background-image: linear-gradient(top, #fafafa, #ddd);
    }
    
.buttonOC:active
    {
	-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	position: relative;
	top: 1px;
    }
    
.buttonOC:focus
    {
	outline: 0;
	background: #fafafa;
    }    
    
.buttonOC:before
    {
	background: #ccc;
	background: rgba(0,0,0,.1);
	float: left;        
	width: 1em;
	text-align: center;
	font-size: 1.5em;
	margin: 0 1em 0 -1em;
	padding: 0 .2em;
	-moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-moz-border-radius: .15em 0 0 .15em;
	-webkit-border-radius: .15em 0 0 .15em;
	border-radius: .15em 0 0 .15em;     
	pointer-events: none;	
    }
.nextpopup:before{
	content: "\279C";	
}

.closepopup{
	margin: 0 auto;
	text-align:center;
}
    
.closepopup:before
    {
	content: "\2718";
    }
	
    





	
	
