@import url("css/font-awesome.css");

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html,body {
	height: 100%;
}
body {
	background-color: #FFF;
	#background-color: #E3CAA1;
}

#topbar{
	height: 50px;
}

.undermenu{
	background-color: #3498db;
	width:100%;
	height:60px;
	z-index: 9999;
	position: fixed;
	background: rgba(0,0,0, 0.5)
	
}

.menu {
	position: fixed;
	z-index: 9999;
	margin: 0px 0 0 0px;
	width:100%

}

.menu nav {
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
}
.menu input#slide:checked ~ nav {
	-moz-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
	width:100%
}

.menu label {
	position: fixed;
	font-size: 30px;
	cursor: pointer;
	z-index: 9999;
}
.menu input#slide {
	display: none;
}

.menu input#slide:checked ~ label.open i {
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
transform: rotate(90deg);
}

.menu label i,
.menu nav,
.menu nav ul li a span {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.menu label,
.menu nav ul li a i,
.menu nav ul li a span {
	line-height: 60px;
	text-align: center;
	width: 60px;
	height: 60px;
}
.menu nav ul {
	list-style: none;
	overflow: hidden;
}
.menu nav ul li a i {
	font-size: 20px;
}

.menu nav ul li a span {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	width: 0;
	color: #fff;
	text-decoration: none;
	opacity: 0.7;
}



.menu nav ul li a:hover span {
	width: 100px;
	padding: 0 10px;
	color: rgba(255,255,255, 1.0);
	background: rgba(255,255,255, 1.0);
}
.menu nav ul li.active a span {
	width: 100px;
	padding: 0 10px;
}



.menu.horizontal nav ul li,
.menu.horizontal nav ul li a span {
	float: left;
}
.menu.left.horizontal nav {
	margin-left: -50px;
}




.menu.left.horizontal input#slide:checked ~ nav {
	margin-left: 60px;
}
.menu.right.horizontal nav {
	margin-right: -50px;
}
.menu.right.horizontal input#slide:checked ~ nav {
	margin-right: 60px;
}



.menu.blue label,
.menu.blue nav ul li a ul li i {
	/*background-color: #3498db; bg*/
	background: rgba(0,0,0, 0.5);
	/*color: #2980b9; icons;*/
	color: rgba(255,255,255, 0.5);

}


.menu.blue nav ul li a span {
	/*background-color: #2980b9;
	color: #3498db;*/
	background: rgba(0,0,0, 0.5);
	color: rgba(255,255,255, 0.5);

	
}
.menu.blue nav ul li a span:hover { 
	color: rgba(255,255,255, 1.0);
	/*color: white;*/ 
	opacity:1.0;
	}
.menu.blue nav ul li a:hover{
	background: rgba(0,0,0, 1.0);
	opacity:1.0;
	color: rgba(255,255,255, 1.0);
}

.menu.blue nav ul li a ul li i:hover {
	/*background-color: #3498db; bg*/
	background: rgba(0,0,0, 1.0);
	/*color: #2980b9; icons;*/
	color: rgba(255,255,255, 1.0);

}

.cornericon{
	
	color: rgba(255,255,255,1.0);
}

.menuitem:hover{
	color: rgba(255,255,255,1.0);
}




